<div class="col-6 t-a-c m-b-10">

    <div class="top_nav_resp col-1-3 d-i-b m-r-1">
        <a ui-sref="products.all"><span ng-class="{'top-menu-active': vm.state.includes('products')}" class="top-menu btn c-p">Products</span></a>
    </div><div class="top_nav_resp col-1-3 d-i-b m-r-1">
        <a ui-sref="order"><span ng-class="{'top-menu-active': vm.state.includes('order')}" class="top-menu btn c-p">Order</span></a>
    </div><div class="top_nav_resp col-1-3 d-i-b m-r-1">
        <a ui-sref="contact"><span ng-class="{'top-menu-active': vm.state.includes('contact')}" class="top-menu btn c-p">Contact</span></a>
    </div>

</div>


<div class="ui-view"></div>