article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}
audio,
canvas,
video {
  display: inline-block
}
audio:not([controls]) {
  display: none;
  height: 0
}
[hidden],
template {
  display: none
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100.01%
}
body {
  margin: 0;
  font-size: .875em;
  font-family: Arial
}
a {
  background: 0 0
}
a:focus {
  outline: thin dotted
}
a:active,
a:hover {
  outline: 0
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
abbr[title] {
  border-bottom: 1px dotted
}
b,
strong {
  font-weight: 700
}
dfn {
  font-style: italic
}
hr {
  box-sizing: content-box;
  height: 0
}
mark {
  background: #ff0;
  color: #000
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em
}
pre {
  white-space: pre-wrap
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019"
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  border: 0
}
svg:not(:root) {
  overflow: hidden
}
figure {
  margin: 0
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}
legend {
  border: 0;
  padding: 0
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0
}
button,
input {
  line-height: normal
}
button,
select {
  text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}
button[disabled],
html input[disabled] {
  cursor: default
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}
textarea {
  overflow: auto;
  vertical-align: top
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
ol,
ul {
  margin: 0;
  padding: 0
}
@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/gothambold.woff);
  src: url(../fonts/gothambold.woff) format("embedded-opentype"), url(../fonts/gothambold.woff) format("woff"), url(../fonts/gothambold.woff) format("truetype"), url(../fonts/gothambold.woff) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Courier-New;
  src: url(../fonts/courier-new-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: iconfont;
  src: url(../fonts/iconfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
.col-3 a[href^="https://goo.gl/maps/"]:before,
.filter:after,
.leftsidenav h2:after,
[class*=" icon-"],
[class^=icon-],
a.backtotop:after,
a.cta:after,
a.menu:before,
a.quickquote:after,
a.quickquote:before,
a.search:before,
a.view:after,
h3.twitterlogo:after {
  font-family: iconfont;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  position: relative;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*-webkit-text-stroke: .5px*/
}







.menu,
.quickquote,
.search,
[class*=" icon-"],
[class^=icon-] {
  font-size: inherit!important
}
.menu span.key,
.quickquote span.key,
.search span.key,
[class*=" icon-"] span.key,
[class^=icon-] span.key {
  display: none!important
}
a.quickquote:after {
  content: "\e60b";
  margin-left: 2.2em;
  font-size: 1.4em;
  line-height: 1
}
a.quickquote.active:after {
  content: "\e60a"
}
a.search:before {
  content: "\e600";
  font-size: 1.4em;
  line-height: 1;
  position: relative;
  bottom: -1px
}
a.menu {
  line-height: 1;
  padding: 0
}
a.menu:before {
  content: "\e608";
  font-size: 2em;
  line-height: 1;
  padding: 0;
  position: relative;
  bottom: -5px
}
img {
  max-width: 100%;
  height: auto
}
#wrapper,
.row {
  margin-right: auto;
  margin-left: auto;
  max-width: 990px;
  padding-left: 20px;
  padding-right: 20px
}
.row:after,
.row:before {
  display: table;
  content: " "
}
.row:after {
  clear: both
}
.row .row {
  margin-right: 0;
  margin-left: 0;
  max-width: none;
  padding-right: 0;
  padding-left: 0
}
.mobile-col-1,
.mobile-col-2,
.mobile-col-3 {
  display: block;
  float: left;
  min-height: 1px;
  position: relative;
  margin-left: 1.91919%
}
.first-mobile-col,
.row .mobile-col-1:first-child,
.row .mobile-col-2:first-child,
.row .mobile-col-3:first-child {
  margin-left: 0
}
.mobile-col-1 {
  width: 23.56061%
}
.mobile-col-2 {
  width: 49.0404%
}
.mobile-col-3 {
  width: 74.5202%
}





* {
  margin: 0;
  padding: 0
}
body {
  background: #eee;
  font-family: Gotham-Book;
  color: #222;
  font-size: 13px;
  min-width: 320px;
  overflow-y: scroll
}
#pre-rap {
  overflow: hidden;
  max-width: 100%
}
#wrapper {
  overflow: visible;
  position: relative;
  display: block
}
.retro,
section {
  clear: both
}
.item_box {
  box-sizing: border-box
}
a {
  text-transform: uppercase;
  color: #222;
  text-decoration: none
}

a.phone {
  font-family: Gotham-Medium;
  font-size: 1.07692em
}
a.phone:focus,
img {
  max-width: 100%;
  display: block
}
li {
  list-style-type: none
}
button,
input,
label {
  border: none
}
h3 {
  text-transform: uppercase;
  font-size: 1.23077em;
  margin-bottom: 4px;
  font-family: Gotham-Black
}
.hide {
  display: none
}
b,
strong {
  font-family: Gotham-Bold
}
input[type=radio] {
  display: inline-block;
  margin-left: 6px;
  position: relative
}
input[type=radio]:before {
  position: absolute;
  background: #eee;
  border-radius: 50%;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -7px;
  height: 14px;
  width: 14px
}
input[type=radio]:checked:after {
  position: absolute;
  /*background: #c70f0f;*/
  border-radius: 50%;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  height: 8px;
  width: 8px
}
.body h2,
.body h3,
.body h4,
.body h5 {
  font-family: Gotham-Black!important;
  text-transform: uppercase!important;
  line-height: 1em!important;
  margin: 0 0 .8em 0!important
}
.body h2 {
  font-size: 32px!important
}
.body h3 {
  font-size: 26px!important
}
.body h4 {
  font-size: 16px!important
}
.body h5 {
  font-size: 14px!important
}
.alpha {
  margin-left: 0!important
}
.omega {
  margin-right: 0!important
}
.btn {
  display: block;
  font-family: Gotham-Bold;
  line-height: 2.5em;
  color: #fff;
  text-align: center;
  background: #222
}



button {
  width: 100%;
  background: #c70f0f;
  font-size: 1.23077em;
  line-height: 2.8em;
  color: #fff;
  font-family: Gotham-Bold;
  text-transform: uppercase
}
.grid .item_box {
  display: block;
  float: left;
  min-height: 1px;
  position: relative;
  margin-left: 1%;
  box-sizing: border-box;
  width: 32%
}

header {
  overflow: hidden;
  margin-bottom: 10px;
  border-top: 3px solid #000
}

.main-products {
  overflow: hidden;
  padding: 1.81% 1.81% 1.81% 1.81%;
  margin-bottom: 10px;
  background: #fff
}
.main-products .item_box {
  width: 32.333%;
  margin-bottom: 25px;
  position: relative;
}
.main-products img {
  margin-bottom: 25px;
}

.product {
  overflow: hidden;
  padding: 4%;
  margin-bottom: 10px;
  background: #fff
}
.product h1,
.product h2,
.product h3,
.product h4 {
  text-transform: uppercase
}
.product h1 {
  font-size: 1.5em;
  margin: 0 10px 10px;
  font-family: Gotham-Black;
  letter-spacing: 1px;
  line-height: 1.5em
}
.product .features {
  margin-left: 0
}
.product .features h1 {
  margin: 0 0 4%;
  width: 100%
}
.product .features h2 {
  font-family: Gotham-Book;
  font-size: 1.07692em;
  margin-bottom: .9em
}
.product .features h3 {
  font-size: 1.07692em;
  margin-bottom: 1.6em
}
.product .features h4 {
  font-family: Gotham-Book;
  font-weight: 400
}
.product .features h4+h1 {
  margin-top: 4%
}
.product .features h3+h4 {
  margin-top: -1.6em;
  margin-bottom: 1.6em
}
.product .features p {
  font-size: 1em;
  line-height: 1.69231em;
  margin-bottom: 1.38462em
}
.product .features ul {
  margin-bottom: 20px
}
.product .features ul li {
  margin-left: 5.2%;
  list-style-type: disc;
  line-height: 1.69231em
}
.product .detailbtns .quote {
  width: 170px
}
.product .item img {
  box-sizing: border-box
}
.product .item ul {
  margin: 20px 0 7px;
  overflow: hidden
}
.product .item ul li {
  width: 33.33333%;
  border: 1px solid #ccc;
  border-right: none;
  float: left;
  font-size: 1.69231em;
  font-family: Gotham-Bold;
  text-align: center;
  padding: 1.2% 0;
  box-sizing: border-box
}
.product .item ul li span {
  display: block;
  font-family: Gotham-Book;
  font-size: .5em
}
.product .item ul li.last {
  border-right: 1px solid #999
}
.product .item a {
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
  clear: left
}
.product .item p {
  text-align: right;
  font-size: 1.07692em;
  line-height: 3.3em
}
section>header {
  background: #fff;
  overflow: hidden;
  padding: 1.81% 1.81% 3.4%;
  position: relative
}
section>header h1 {
  font-family: Gotham-Black;
  letter-spacing: -1px;
  line-height: 1em;
  font-size: 4.30769em;
  text-transform: uppercase;
  margin: .5% 0 0 .25%
}
section>header h2 {
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 3.6%;
  top: 22%;
  font-size: 1.69231em
}
section>header span {
  display: block;
  text-align: right;
  margin: 20px 2% 0 0
}




