
<section class="product">

  <div class="col-6">

    <div class="resp_width_100p w-40 d-i-b v-a-t t-a-l f-l">
      <div class="item col-5 t-a-c">
        <img class="m-l-r-a" ng-src="{{vm.product.image}}">
      </div>
    </div>

    <div class="resp_prod_features col-1-2 d-i-b m-l-10">
      <div class="features col-4 t-a-l">

          <h1>{{vm.product.name}}</h1>
          <span class="detailbtns"><a class="btn quote">Item code : {{vm.product.code}}</a></span>
          <div class="body m-t-20">
            <h4><strong>Highlights:</strong></h4>
            <div class="m-l-5">
              <ul>
                <li ng-repeat="highlight in vm.product.highlights">{{highlight}}</li>
              </ul>
            </div>
          </div>

          <div ng-if="vm.product.withHire" class="body">
            <h4><strong>Included with hire:</strong></h4>
            <div class="m-l-5">
              <ul>
                <li ng-repeat="include in vm.product.withHire">{{include}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  </div>

</section>
